* {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 8px 200px 100px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.header-right {
    display: flex;
    gap: 30px;
}

.header-logo {
    font-size: 24px;
}

ul {
    margin: 0;
    padding: 0;
    align-items: center;
}

li {
    list-style-type: none;
    font-size: 18px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
}

.card-1-content {
    display: flex;
    gap: 15px;
}

.card-1-lhs p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-1 {
    background-color: #3882F6;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
}

.hero .card-1-content img {
    flex-shrink: 0;
    width: 300px;
    height: 200px;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 8px 200px 100px 200px;
}

.information-panel {
    display: flex;
    gap: 8px;
}

.information-title {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.information-image {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.information-image p {
    text-align: center;
    font-size: 18px;
    color: gray;
}

.information-image img {
    max-width: 100%;
    height: auto;
    flex-shrink: 1;
}

.quotation {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quoter-name {
    text-align: right;
    font-weight: bold;
    font-size: 25px;
}

.call-to-action {
    display: flex;
    margin: 100px 200px;
    padding: 20px 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    justify-content: space-between;
}

.c2a-right {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.c2a-1 {
    font-weight: bold;
    font-size: 20px;
}

.sign-up-2 {
    background-color: #3882F6;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    flex-shrink: 0;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 8px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}